{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="row">
	<aside class="col-lg-6">
<div class="card">
<div class="card-body mb-4">
	<h4 class="card-title">Billing Address</h4>
	<form action="{% url 'orders:place_order' %}" method="POST">
		{% csrf_token %}
		<div class="form-row">
			<div class="col form-group">
				{{ form.first_name }}
			</div>
			<div class="col form-group">
				{{ form.last_name }}
			</div>
		</div>
		<div class="form-row">
			<div class="col form-group">
				{{ form.email }}
			</div>
			<div class="col form-group">
				{{ form.phone_number }}
			</div>
		</div>
		<div class="form-row">
			<div class="col form-group">
			{{ form.address_line_1 }}
			</div>
		</div>
		<div class="form-row">
			<div class="col form-group">
				{{ form.address_line_2 }}
			</div>
		</div>
		<div class="form-row">
			<div class="col form-group">
				{{ form.country }}
			</div>
			<div class="col form-group">
				{{ form.state }}
			</div>
			<div class="col form-group">
				{{ form.city }}
			</div>
		</div>
		<div class="form-row">
			<div class="col form-group">
				{{ form.order_note }}
			</div>
		</div>
</div>

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-6">

		<div class="card">
		<div class="card-body">

			<div id="paypal-button-container"></div>
    			<p id="result-message"></p>
			<button type="submit" class="btn btn-primary btn-block"> Place Order </button>
			<a href="{% url 'store:store' %}" class="btn btn-light btn-block">Continue Shopping</a>
				</form>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}